<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%X{correlationId:-no-cid}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.ktor" level="INFO" />
    <logger name="org.jetbrains.exposed" level="INFO" />
    <logger name="io.lettuce" level="INFO" />
    <logger name="io.netty" level="INFO" />
    <logger name="com.mikroserver" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
